.light {
  --md-sys-color-primary: rgb(0 60 69);
  --md-sys-color-surface-tint: rgb(39 102 115);
  --md-sys-color-on-primary: rgb(255 255 255);
  --md-sys-color-primary-container: rgb(12 84 96);
  --md-sys-color-on-primary-container: rgb(139 198 212);
  --md-sys-color-secondary: rgb(31 104 105);
  --md-sys-color-on-secondary: rgb(255 255 255);
  --md-sys-color-secondary-container: rgb(184 253 253);
  --md-sys-color-on-secondary-container: rgb(49 119 120);
  --md-sys-color-tertiary: rgb(117 91 0);
  --md-sys-color-on-tertiary: rgb(255 255 255);
  --md-sys-color-tertiary-container: rgb(255 204 47);
  --md-sys-color-on-tertiary-container: rgb(112 87 0);
  --md-sys-color-error: rgb(186 26 26);
  --md-sys-color-on-error: rgb(255 255 255);
  --md-sys-color-error-container: rgb(255 218 214);
  --md-sys-color-on-error-container: rgb(147 0 10);
  --md-sys-color-background: rgb(248 249 250);
  --md-sys-color-on-background: rgb(25 28 29);
  --md-sys-color-surface: rgb(253 248 248);
  --md-sys-color-on-surface: rgb(28 27 27);
  --md-sys-color-surface-variant: rgb(224 227 227);
  --md-sys-color-on-surface-variant: rgb(68 71 72);
  --md-sys-color-outline: rgb(116 120 120);
  --md-sys-color-outline-variant: rgb(196 199 199);
  --md-sys-color-shadow: rgb(0 0 0);
  --md-sys-color-scrim: rgb(0 0 0);
  --md-sys-color-inverse-surface: rgb(49 48 48);
  --md-sys-color-inverse-on-surface: rgb(244 240 239);
  --md-sys-color-inverse-primary: rgb(148 208 222);
  --md-sys-color-primary-fixed: rgb(176 236 251);
  --md-sys-color-on-primary-fixed: rgb(0 31 37);
  --md-sys-color-primary-fixed-dim: rgb(148 208 222);
  --md-sys-color-on-primary-fixed-variant: rgb(0 78 90);
  --md-sys-color-secondary-fixed: rgb(170 239 239);
  --md-sys-color-on-secondary-fixed: rgb(0 32 32);
  --md-sys-color-secondary-fixed-dim: rgb(142 210 210);
  --md-sys-color-on-secondary-fixed-variant: rgb(0 79 80);
  --md-sys-color-tertiary-fixed: rgb(255 223 145);
  --md-sys-color-on-tertiary-fixed: rgb(36 26 0);
  --md-sys-color-tertiary-fixed-dim: rgb(242 192 33);
  --md-sys-color-on-tertiary-fixed-variant: rgb(89 68 0);
  --md-sys-color-surface-dim: rgb(221 217 216);
  --md-sys-color-surface-bright: rgb(253 248 248);
  --md-sys-color-surface-container-lowest: rgb(255 255 255);
  --md-sys-color-surface-container-low: rgb(247 243 242);
  --md-sys-color-surface-container: rgb(241 237 236);
  --md-sys-color-surface-container-high: rgb(235 231 231);
  --md-sys-color-surface-container-highest: rgb(229 226 225);
}
